* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  text-align: center;
}
.wrapper {
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
}
header {
  height: 100px;
  background: #575c55;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: poppins;
  color: #d1c496;
  letter-spacing: 5px;
}
nav {
  float: left;
  line-height: 100px;
}
nav a {
  text-decoration: none;
  font-family: poppins;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
}

.dropbtn {
  background-color: #d1c496;
  color: white;
  padding: 16px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  line-height: 30px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c7d3bb;
}

.banner-area-ideal-jobs {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Ideal\ Jobs.jpg);
  /* Source for image - https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-ideal-jobs h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-index {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Index\ page\ image.jpg);
  /* Source for image - https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-index h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-industry-data {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Industry\ Data2.jpg);
  /* Source for image - https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-industry-data h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-it-technologies {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(IT\ Technologies.jpg);
  /* Source for image - https://images.unsplash.com/photo-1532188363366-3a1b2ac4a338?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-it-technologies h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-it-work {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Computer\ Code.jpg);
  /* Source for image - https://images.unsplash.com/photo-1542903660-eedba2cda473?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-it-work h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-Project-Idea {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Produce\ display.jpg);
  /* Source for image - */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-Project-Idea h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-team-profiles {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Team\ Profile.jpg);
  /* Source for image - https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-team-profiles h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.banner-area-tools {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(Maybe.jpg);
  /* Source for image - https://images.unsplash.com/photo-1623811254317-3fd2479ebf37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80 */
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area-tools h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}
.content-area {
  overflow: auto;
  width: 100%;
  position: relative;
  top: 450px;
  background: #ebebeb;
  height: 100%;
}
.content-area h2 {
  font-family: poppins;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
}
.content-area h3 {
  font-family: poppins;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 30px;
  margin: 0;
}
.content-area h4 {
  font-family: poppins;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 20px;
  margin: 0;
}
.content-area p {
  text-align: left;
  padding: 2% 0px;
  font-family: poppins;
  line-height: 30px;
  font-size: 18px;
}

.content-area ol {
  text-align: left;
  font-family: poppins;
  line-height: 30px;
  font-size: 18px;
}

.content-area li {
  text-align: left;
  font-family: poppins;
  line-height: 30px;
  font-size: 18px;
}

.content-img {
  text-align: center;
  font-family: poppins;
}

/* Shanice testing return to top button - Sourced from W3 Schools "https://www.w3schools.com/howto/howto_js_scroll_to_top.asp"*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #262626;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

.content-area a {
  text-align: left;
  padding: 2% 0px;
  font-family: poppins;
  line-height: 30px;
  font-size: 18px;
}
